@model IEnumerable<UCP1_PAW_066_B.Models.Transaksi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalTransaksi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAdminNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProdukNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTransaksi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAdminNavigation.IdAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProdukNavigation.IdProduk)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTransaksi">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTransaksi">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTransaksi">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
